#home-wrapper{
    color: #ffe8d6;
}


#home-video {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    height: 100vh;
    overflow: scroll;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.home-cake-structure {
    color: #f1f1f1;
    width: 350px;
    background-color: #b89472;
    margin-right: 30px;
    padding: 50px;
    font-family: 'Acme', sans-serif;
    float: right;
    margin-top: 80px;
    color: #ffe8d6;
    animation-name: home-cake-structure;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  transition: all 0.2s ease;
  z-index: 0;
}
#home-cake-header{
    font-family: 'Meie Script', cursive;
}
@keyframes pop-up{
  0%{ transform: translateX(-80px); width: 300px;}
  100%{ transform: translateX(80px);width: 45vw;}
}
@keyframes home-cake-structure{
  0%{ transform: translateY(-100px); height: 89vh;}
  100%{ transform: translateY(0px);height: 89vh;}
}
#popUp{
  background-color: #ffe8d6;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.404); 
  border-radius: 5px;
  animation-name: pop-up;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  transition: all 0.2s ease;
  margin-top: 450px;
  z-index: 2;
  width: 50%;
  padding: 5px;
}
.carouselIcon{
  color:#ffe8d6;
  padding: 40px;
  background:#b89472;
  border-radius:10px;
  float:left;
  font-size: 50px;
}
#carouselFollow{
  color: #b89472;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: cursive;
}
#home-cake-icon{
    /* color: #ffe8d6;/ */
}

.home-cake-btn{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: #ffe8d6;
    border: 15px solid #ffe8d6;
}

#home-cake-designs{
    border-bottom: none;
    margin: 10px;
    width: 120px;
    height: 70px;
}

#home-cake-profiles{
    border-bottom: none;
    width: 200px;
    height: 60px;
}
#home-cake-bottom{
    border: 15px solid #ffe8d6;
    margin-top: 10px;
    width: 250px;
    border-radius: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
/* font-family: 'Langar', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Meie+Script&display=swap');