.d5-cls-1{isolation:isolate;}
.d5-cls-2,.d5-cls-3{fill:#e6e6e6;}
.d5-cls-20,.d5-cls-26,.d5-cls-3,.d5-cls-30{opacity:0.6;}
.d5-cls-16,.d5-cls-20,.d5-cls-23,.d5-cls-29,.d5-cls-3,.d5-cls-32,.d5-cls-33,.d5-cls-36,.d5-cls-37,.d5-cls-9{mix-blend-mode:multiply;}
.d5-cls-4{fill:#ccc;}
.d5-cls-16,.d5-cls-5,.d5-cls-9{fill:#f99;}
.d5-cls-6{fill:#7acebe;}
.d5-cls-7{fill:#ffdede;}
.d5-cls-15,.d5-cls-19,.d5-cls-22,.d5-cls-25,.d5-cls-26,.d5-cls-8{fill:#fff;}/**/
.d5-cls-8{opacity:0.2;}
.d5-cls-15,.d5-cls-23,.d5-cls-29,.d5-cls-32,.d5-cls-33,.d5-cls-36,.d5-cls-37,.d5-cls-9{opacity:0.3;}
.d5-cls-10,.d5-cls-11,.d5-cls-12,.d5-cls-13,.d5-cls-14,.d5-cls-24,.d5-cls-38{fill:none;}
.d5-cls-10,.d5-cls-11,.d5-cls-12,.d5-cls-13,.d5-cls-14{stroke:#fff;stroke-linecap:round;stroke-linejoin:round;}
.d5-cls-10,.d5-cls-11,.d5-cls-12{stroke-width:2px;}
.d5-cls-11{stroke-dasharray:0 3.92;}
.d5-cls-12{stroke-dasharray:0 3.92;}
.d5-cls-13,.d5-cls-14{stroke-width:2.07px;}
.d5-cls-14{stroke-dasharray:0 4.14;}
.d5-cls-16{opacity:0.4;}
.d5-cls-17,.d5-cls-23{fill:#f27288;}
.d5-cls-18{fill:#b9efe5;}
.d5-cls-21{fill:#fcdfc8;}
.d5-cls-22{opacity:0.1;}
.d5-cls-24{stroke:#d89b59;}
.d5-cls-24,.d5-cls-38{stroke-miterlimit:10;}
.d5-cls-25{font-size:12px;font-family:Cookie-Regular, Cookie;}
.d5-cls-27,.d5-cls-33{fill:#fed8c5;}
.d5-cls-28,.d5-cls-29{fill:#1a1a1a;}
.d5-cls-31,.d5-cls-32{fill:#333;}
.d5-cls-34,.d5-cls-37{fill:#984e4f;}
.d5-cls-35{fill:#d89b59;}
.d5-cls-38{stroke:#1a1a1a;stroke-width:0.2px;}
