.cls-1{isolation:isolate;}
.cls-2{fill:#ccc;}
.cls-3{fill:#e6e6e6;}
.cls-4,.cls-6{fill:#f99;}
.cls-12,.cls-20,.cls-27,.cls-5,.cls-7{fill:#fff;}
.cls-5{opacity:0.15;}
.cls-24,.cls-25,.cls-27,.cls-6{opacity:0.2;}
.cls-13,.cls-15,.cls-16,.cls-21,.cls-24,.cls-25,.cls-26,.cls-6,.cls-9{mix-blend-mode:multiply;}
.cls-13,.cls-7,.cls-9{opacity:0.3;}
.cls-25,.cls-8,.cls-9{fill:#f27288;}
.cls-10,.cls-13,.cls-24,.cls-26{fill:#f9c5af;}
.cls-11,.cls-16{fill:#ffdede;}
.cls-12{opacity:0.6;}
.cls-14{fill:#fcdfc8;}
.cls-15{opacity:0.4;}
.cls-17{fill:#d89b59;}
.cls-18{fill:none;stroke:#4b261d;stroke-miterlimit:10;stroke-width:0.28px;}
.cls-19{fill:#7acebe;}
.cls-20{opacity:0.1;}
.cls-22{font-size:24px;fill:#efcdcb;font-family:Cookie-Regular, Cookie;}
.cls-23{fill:#4b261d;}
.cls-26{opacity:0.5;}
