.d8-cls-1{fill:#bfb9b4;}
.d8-cls-13,.d8-cls-15,.d8-cls-16,.d8-cls-2{fill:#4d4343;}
.d8-cls-3{fill:#73685f;}
.d8-cls-4{fill:#f0d9d5;}
.d8-cls-5{fill:#fce9e3;}
.d8-cls-6{fill:#873748; opacity: 0.7;}/*.d8-cls-7*/
.d8-cls-7{fill:#873748;}
.d8-cls-8{fill:#78a067;}
.d8-cls-18,.d8-cls-9{fill:none;}
.d8-cls-9{stroke:#638554;stroke-linejoin:round;stroke-width:0.5px;}
.d8-cls-10{fill:#fff;opacity: 0.5;}
.d8-cls-11{fill:#fff;}
.d8-cls-12{fill:#e8d3cc;}
.d8-cls-13,.d8-cls-16{font-size:49.44px;}
.d8-cls-13,.d8-cls-15,.d8-cls-16{font-family:PlayfairDisplay-Bold, PlayfairDisplay Bold;font-weight:700;}
.d8-cls-14,.d8-cls-16{letter-spacing:0.01em;}
.d8-cls-15{font-size:33.59px;}
.d8-cls-17{letter-spacing:0em;}
.d8-cls-18{stroke:#4d4343;stroke-miterlimit:10;}
.d8-cls-19{fill:#94867b00;}
