.d4-cls-1{isolation:isolate;}
.d4-cls-2{fill:#ccc;}
.d4-cls-3{fill:#e6e6e6;}
.d4-cls-4,.d4-cls-6{fill:#7acebe;}/**/
.d4-cls-11,.d4-cls-15,.d4-cls-21,.d4-cls-25,.d4-cls-5,.d4-cls-7{fill:#fff;}
.d4-cls-12,.d4-cls-26,.d4-cls-5,.d4-cls-7{opacity:0.2;}
.d4-cls-5{mix-blend-mode:screen;}
.d4-cls-14,.d4-cls-15,.d4-cls-6{opacity:0.3;}
.d4-cls-12,.d4-cls-14,.d4-cls-20,.d4-cls-26,.d4-cls-6{mix-blend-mode:multiply;}
.d4-cls-16,.d4-cls-18,.d4-cls-19,.d4-cls-26,.d4-cls-8{fill:#d89b59;}/**/
.d4-cls-9{fill:#f99;}
.d4-cls-10{fill:#b9efe5;}/**/
.d4-cls-11{opacity:0.6;}
.d4-cls-13,.d4-cls-14{fill:#30aa93;}
.d4-cls-16{font-size:34.28px;}
.d4-cls-16,.d4-cls-18,.d4-cls-19{font-family:Cookie-Regular, Cookie;}
.d4-cls-17{fill:none;stroke:#d89b59;stroke-miterlimit:10;stroke-width:0.85px;}
.d4-cls-18{font-size:28.51px;}
.d4-cls-19{font-size:21.53px;}
.d4-cls-20{opacity:0.5;}
.d4-cls-21{opacity:0.1;}
.d4-cls-22{fill:#ffdede;}
.d4-cls-23{fill:#fca9a9;}
.d4-cls-24{fill:#fbb;}
