    .d3-cls-1{isolation:isolate;}
    .d3-cls-2{fill:#ccc;}
    .d3-cls-3{fill:#e6e6e6;}
    .d3-cls-16,.d3-cls-4,.d3-cls-7{fill:#f99;}/*..*/
    .d3-cls-14,.d3-cls-5{fill:#f9c5af;}/*..*/
    .d3-cls-12,.d3-cls-23,.d3-cls-25,.d3-cls-6,.d3-cls-8{fill:#fff;}
    .d3-cls-6{opacity:0.2;}
    .d3-cls-14,.d3-cls-18,.d3-cls-7,.d3-cls-8{opacity:0.3;}
    .d3-cls-14,.d3-cls-15,.d3-cls-16,.d3-cls-17,.d3-cls-18,.d3-cls-27,.d3-cls-29,.d3-cls-7{mix-blend-mode:multiply;}
    .d3-cls-19,.d3-cls-20,.d3-cls-9{fill:none;}
    .d3-cls-9{stroke:#4b261d;}/*..*/
    .d3-cls-19,.d3-cls-9{stroke-miterlimit:10;}
    .d3-cls-10,.d3-cls-18{fill:#4b261d;}/*..*/
    .d3-cls-11,.d3-cls-17{fill:#ffdede;}/*..*/
    .d3-cls-12,.d3-cls-29{opacity:0.6;}
    .d3-cls-13{fill:#82473d;}/*..*/
    .d3-cls-15,.d3-cls-16{opacity:0.5;}
    .d3-cls-19,.d3-cls-20{stroke:#d89b59;}
    .d3-cls-20{stroke-linecap:round;stroke-linejoin:round;}
    .d3-cls-21{font-size:41.12px;fill:#d89b59;font-family:Cookie-Regular, Cookie;}
    .d3-cls-22{fill:#30aa93;}
    .d3-cls-30{opacity:0.5;}
    .d3-cls-23{opacity:0.1;}
    .d3-cls-24{fill:#fbb;}/**/
    .d3-cls-26,.d3-cls-27{fill:#7acebe;}/**/
    .d3-cls-27{opacity:0.4;}
    .d3-cls-28,.d3-cls-29{fill:#b9efe5;}